.avatar {
  z-index: 10;
  border-radius: 50%;
  cursor: pointer;

  &.small {
    width: 20px;
    height: 20px;
  }

  &.small-32 {
    width: 32px;
    height: 32px;
  }
  &.small-40 {
    width: 40px;
    height: 40px;
  }

  &.medium {
    width: 40px;
    height: 40px;
  }

  &.very-big {
    width: 150px;
    height: 150px;
  }
}
