@media screen and (max-width: 640px) {
  .main {
    max-width: 100%;
    padding: 10px 0;
  }

  .home {
    .navbar {
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid #ccc;

      padding: 5px 0 !important;

      .navbar-brand {
        display: none;
      }

      .search_form {
        display: flex;
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .main {
    max-width: 100%;
  }
  .home {
    .posts {
      margin-bottom: 40px;
    }
  }
}
