.postDetail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0008;
  z-index: 10;
  overflow: auto;
  display: flex;
  align-items: center;

  &--container {
    width: 68%;
    height: 90%;
    border-radius: 5px;
    margin: auto;
    background-color: white;
    position: relative;

    &__head {
      width: 100%;
      margin: 0 auto;
      position: sticky;
      left: 0;
      top: 0;
      right: 0;
      background: white;
      border-bottom: 1px solid #ccc;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;

      .btn_close {
        position: absolute;
        right: 1rem;
        top: 0.5rem;

        border: none;
      }
    }

    &__body {
      overflow-y: scroll;

      height: 86%;
      .postcards {
        margin: 0 !important;
        width: 100%;
      }
    }
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: rgb(209, 209, 209);
      border-radius: 10px;
    }
    &__comment {
      position: sticky;
      left: 0;
      top: bottom;
      right: 0;
      background: white;

      border-top: 1px solid #ccc;
    }
  }
}
