.userPost {
  width: 100%;
  margin-top: 20px;

  &--container {
    flex-wrap: nowrap;
    &__images {
      height: max-content;
      width: 50%;
      margin-right: 20px;

      button {
        color: #095fc0;

        &:hover {
          color: #095fc0;
          background-color: #ccc;
        }
      }

      .images {
        img {
          width: 150px;
          height: 150px;
          object-fit: cover;

          border: 1px solid #ccc;
        }
      }
    }
    &__posts {
      .create-post {
        width: 100%;
        margin: 1.5rem 0;
      }
      .posts__title {
        p {
          font-size: 18px;
          // margin-top: 0.5rem;
          // margin-bottom: 1.5rem;
        }
      }
      width: 100%;
      .postcards {
        width: 100%;
      }
    }
  }
}
