.card__header {
  position: relative;
  &--left {
    .card__name {
      margin-left: 10px;
    }
  }

  &--right {
    span {
      cursor: pointer;

      &:hover {
        filter: blur(0.8px);
      }
    }
  }

  .dropdown-menu {
    .dropdown-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        margin-right: 1rem;
      }
    }
  }
}
